{% extends "base.html" %}

{% block content %}
    <h1> Welcome to TICKETSHOW - Your single window to book Movie Tickets</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title">Login</h4>
                        <p class="card-text">Already have an account? Login here to book tickets.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ url_for('login.login') }}" class="btn btn-primary">Login</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title">Register</h4>
                        <p class="card-text">New user? Register here to book tickets.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ url_for('login.register') }}" class="btn btn-primary">Register</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title">Search</h4>
                        <p class="card-text">Search for venues or shows by name, location, or date.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ url_for('routes.search') }}" class="btn btn-primary">Search</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <div class="container mt-5">
        <a href="#upcomingVenues" class="btn btn-primary">Upcoming Venues</a>
        <a href="#upcomingShows" class="btn btn-primary">Upcoming Shows</a>
    </div>
{% endblock %}

<style>
    /* Your existing CSS styles */
    .hover-details {
        opacity: 0;
        transition: opacity 0.3s;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 10px;
        width: 100%;
        z-index: 1;
        pointer-events: none;
    }

    .card:hover .hover-details {
        opacity: 1;
    }
</style>


